name: CD

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: cd-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/_shared.yml
    with:
      run-e2e: true

  docker:
    name: Docker
    needs: ci
    uses: ./.github/workflows/_docker.yml
    with:
      push: true
      tag-type: nightly
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
